<html>
<head>
<style>
h1 {font-size:40px;}
p {
  font-size:25px;
  font-family: sans-serif
}
.tiny{font-size:15px;}
a{text-decoration:none;}
</style>
</head>
<body>
<h1>Ablage</h1>
<?php
date_default_timezone_set('UTC');
$files = getFiles();

foreach ($files as &$file) {
  deleteOldFile($file);
}

if ($handle = opendir ( '.' )) {
    while ( false !== ($file = readdir ( $handle )) ) {
        if ($file != "." && $file != ".." && $file != "index.php") {
            echo '<p><a href="' . $file . '" >' . $file . ' <span class="tiny">created: ' . date("d. M. h:m",filemtime($file)).', '.date("d",filemtime($file) - strtotime('-29 days')). ' Day(s) left</span></a></p>';
        }
    }
    closedir ( $handle );
}


function getFiles(){
$files = array();
  if ($handle = opendir ( '.' )) {
    while ( false !== ($file = readdir ( $handle )) ) {
          if ($file != "." && $file != ".." && $file != "index.php") {
      array_push($files, getcwd() ."/". $file);
          }
      }
      closedir ( $handle );
  }
return $files;
}

function deleteOldFile($filename){
  if (file_exists($filename)) {
    if(filemtime($filename) < strtotime('-29 days')) {
      echo "I will delete: ". $filename ."<br/>";
      unlink($filename);
    }
  }
}
?>
</body>
</html>