body{
  margin: 0;
}
.container {
  flex-shrink:0;
  font-family: 'Abel';
}
.headLine{
  display: flex;
  flex-direction: row;
  font-size: 30pt;
  background-color: rgba(150, 150, 150,1);
  flex-shrink: 1;
  color: #fff;
  flex-wrap: wrap;
}
.headline-item{
  display:flex;
  flex-shrink:1;
  font-size: 30;
  height: 30pt;
  color: white;
  padding: 10px;
  white-space: nowrap;
  overflow:hidden;
}
.base{
  height: 150pt;
  display: flex;
  flex-direction: column ;
}
.base-item{
  display:flex;
  flex-shrink:1;
  order: 1;
  font-size: 30;
  height: 150px;
  color: white;
  padding: 10px;
    
}
.text-with-background {
  display: table;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 0;

  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Abel';
  font-size: 35;
  background-color: rgba(25, 25, 25, 0.4);
  color: #fafafa;
}
.my-image{
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.my-svg{
  
  background-repeat: no-repeat;
  background-position: center;
  background-height: 100%;
}
a{
    display: block;
    font-family: 'Abel';
    font-size: 25;
    color: #FFFFFF;
    text-decoration: none;
}
