.container {
  margin: 0;
  display: flex;
  flex-shrink:0
  flex-direction: column ;
  height: 150px;
  background-color: green;
  font-family: 'Abel';

}
.headLine{
  order: 0;
  width: 100%;
  font-size: 30pt;
  background-color: blue;
  flex-shrink: 1;
  color: #787878;
}
.item{
  display:flex;
  flex-shrink:1;
  order: 1;
  font-size: 30;
  height: 150px;
  color: white;
  padding: 10px;

  border-top: rgba(0, 0, 0, 0.1) 5px solid;
  border-bottom: rgba(0, 0, 0, 0.1) 5px solid;
  border-left: 0;
  border-right: 0;
  border-style: solid;
}
.text-with-background {
  display: table;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: 0;
  margin-left: 0;

  padding: 3px;
  font-family: 'Abel';
  font-size: 35;
  background-color: rgba(25, 25, 25, 0.4);
  color: #ffffff;
}
.my-image{
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

a{
    display: block;
    font-family: 'Abel';
    font-size: 25;
    color: #FFFFFF;
    text-decoration: none;
}
